[program:gendobot]
command=/home/ubuntu/.virtualenvs/gendo/bin/python /home/ubuntu/gendo/gendobot.ini
autostart=true
autorestart=true
stopsignal=QUIT
stopasgroup=true
killasgroup=true
stdout_logfile=/var/log/gendobot/gendobot.log
exitcodes=0
stopwaitsecs = 60
