[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crontab = "*"
"jinja2" = "*"
python-box = "*"
pyyaml = "*"
slackclient = "==2.7.0"

[dev-packages]
bumpversion = "*"
twine = "*"
pre-commit = "*"

[requires]
python_version = "3.7"
